.mid-section{
    text-align: center;
    margin-top: 130px;
}

.title{
    color: #f0f0f0c4;
    font-size: 44px;
}

a:hover{
    text-decoration: none !important;
}


/* form style */
.main-content{
    justify-content: center
}

.box{
    padding: 5px;
}

.btn-search{
    background-color: #333;
    color: white;
    box-shadow: 1px 1px #f0f0f0c4 ;
    
}

.btn-search:hover{
    box-shadow: 3px 3px black;
}

input:hover{
    box-shadow: 3px 3px black;
}
select:hover{
    box-shadow: 3px 3px black;
}

input[type=text]:hover{
    box-shadow: 3px 3px black;
    width: 300px;
    /* -webkit-transition: 0.25s; Safari */
    /* transition:  0.25s; */
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
    margin-top: 2px;
}





/* form style end */